@charset "utf-8";
/* CSS Document */
body{
	background: #D7D7D7;
	font-family: Arial, Helvetica, sans-serif;
}

header div img{
	width: 100%;
}

h1{
	color: #000;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

footer{
	background: #D1D1D1;
	text-align: center;
}

footer a{
	color: #000;
	text-decoration: none;
}

footer .icon{
	height: 16px;
	width: 16px;
}

footer .YouTube{
	height: 16px;
	width: 22px;
}

#Container{
	height: auto;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

.logo{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}