@charset "UTF-8";

/* Reset básico */
* 
{
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

html
{
	scroll-behavior: smooth;
}

body
{
	background: #fff;
	font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar
{
	width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
   /* display: none;  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb
{
	background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover 
{
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active 
{
    background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track 
{
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover, body::-webkit-scrollbar-track:active 
{
  background: #d4d4d4;
}

header
{
	height: 100vh;
	background: linear-gradient(rgba(84,93,220,.7), rgba(96,171,245,.7)), url('../img/Background.jpg') left no-repeat;
	background-size: cover;
	margin-top: -145px; /* Para el menú fijo */
}

.menu
{
	position: fixed;
	transition: .3s;
	width: 100%;
	z-index: 9999999999; /* Para que se ubique por delante de todos los elementos con "position: relative/fixed;" */
}

.menu-icon
{
	display: none;
}

.shadow
{
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

header .logo
{
	color: #fff;
	font-family: 'Righteous', cursive;
	font-size: 20px;
	margin-top: 19px;
}

nav ul
{
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-top: 19px;
}

nav ul li
{
	list-style: none;
	margin-right: 30px;
}

nav ul li a:link
{
	color: #fff;
	text-decoration: none;
}

#about h3
{
	font-size: 55px;
	font-weight: normal;
	margin-bottom: 30px;
	text-align: center;
}

#about img
{
	height: 200px;
	width: 378px;
}

#about .contenido
{
	display: flex;
	justify-content: space-around;
}

#about .about-text
{
	width: 42%;
}

#about a
{
	background: forestgreen;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	display: block;
	font-size: 14px;
	margin: auto;
	margin-top: 12px;
	padding: 15px 0; 
	text-align: center;
	text-decoration: none;
	width: 179px;
}

.contenedor
{
	margin: auto;
	max-width: 1300px;
	width: 90%;
}

.contenedor-titulo
{
	display: flex;
	justify-content: center;
	margin: 18vh 0; /* Estaba en 30vh 0 */
	padding-top: 200px;
}

.contenedor-titulo .titulo
{
	text-align: center;
}

.contenedor-titulo h1
{
	color: #fff;
	font-size: 60px;
	margin-bottom: 0;
}

.contenedor-titulo h2
{
	color: #fff;
	font-size: 25px;
	margin-bottom: 30px;
	text-align: center;
}

.contenedor-titulo a
{
	background: forestgreen;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	padding: 14px 24px;
	text-align: center;
	text-decoration: none;
	width: 128px;
}

#contenedor-menu
{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}


.contenedor-servicios .violeta
{
	background-image: linear-gradient(to top, #A4D246, #93BD3F);
	box-shadow: 0 12px 30px 0 rgba(80, 85, 223, .37);
}

.contenedor-servicios .celeste
{
	background-image: linear-gradient(to top, #40a8f9, #5cb8ff);
	box-shadow: 0 12px 30px 0 rgba(86, 163, 222, .3);
}

.contenedor-servicios
{
	display: flex;
	color: #fff;
	flex-wrap: wrap;
	justify-content: space-around;
}

.contenedor-servicios h4
{
	font-size: 30px;
	margin: 0;
}

.contenedor-servicios p
{
	height: 135px/*194px*/;
	margin-bottom: 20px; 
	opacity: .8;
}

.contenedor-servicios .servicios
{
	border-radius: 10px;
	margin-bottom: 40px;
	padding: 34px 30px 38px 30px;
	position: relative;
	width: 24%;
}

.contenedor-servicios .icono
{
	display: inline-block;
	float: right;
	margin-top: 25%;
}

.contenedor-servicios .waves
{
	bottom: 0;
	left: 0; 
	position: absolute; 
	width: 100%;
}

#services h3, #about h3, #works h3, #why h3, #wordpress h3, #hosting h3, #blog h3, #contact h3
{
	font-size: 55px;
	font-weight: normal;
	margin-bottom: 30px;
	margin-top: 90px;
	text-align: center;
}

#services h4
{
	margin-bottom: 15px;
}

#works img
{
	transform: scale(1);
	transition: .3s;
}

#works img:hover
{
	transform: scale(1.1);
	transition: .3s;
}

#works a
{
	color: #000;
	text-decoration: none;
}

#works p
{
	text-align: center;
}

.owl-nav button
{
	color: #5cb8ff !important;
	font-size: 59px !important;
	margin: 0 0/*46px*/ !important;
}

.owl-nav button:hover
{
	background: none !important;
}

.owl-dots
{
	display: none;
}

.owl-carousel/* .owl-dots.disabled*/, .owl-carousel .owl-nav.disabled 
{
	display: block !important;
}

#why .contenedor-trabajar
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#why .item
{
	text-align: center; 
	width: 28%;
}

#why ul li
{
	list-style: none;
}

#why ul li:nth-child(2)
{
	font-size: 19px;
	font-weight: 600;
	margin-bottom: 20px;
	margin-top: 5px;
}

#why ul li:nth-child(3)
{
	line-height: 31px;
}

#wordpress p
{
	text-align: center;
}

#wordpress .contenedor-wp
{
	align-items: center;
	display: flex;
}

#wordpress .wp-texto
{
	margin: auto;
	width: 41%;
}

#wordpress .wp-texto ul li
{
	line-height: 35px;
}

#hosting p
{
	margin: auto;
	text-align: center;
	width: 60%;
}

#hosting .contenedor-info
{
	display: flex;
	margin-top: 30px;
}

#hosting .contenedor-info .info
{
	margin: auto;
	width: 48%;
}

#hosting .contenedor-info .grande
{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 16px;
}

#hosting .contenedor-info ul li
{
	list-style: none;
}

#hosting .iconos
{
	line-height: 50px;
}

#hosting .check
{
	margin-right: 10px;
	vertical-align: middle;
}

#blog
{
	background: #f9fafc;
}

#blog .contenedor-blog
{
	display: flex;
	justify-content: space-around;
}

#blog .contenedor-blog .blog-single
{
	box-shadow: 1px 1px 14px #f00;
	width: 400px;
}

#blog .blog-box-content a
{
	background: forestgreen;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	margin-top: 12px;
	padding: 15px 16px;
	text-align: center;
	text-decoration: none;
	width: 105px;
}

#blog .blog-box-content a:hover
{
	background: #59a7ec;
	transition: .3s;
}

#blog img
{
	width: 100%;
}

#blog .blog-box-content
{
	background: #fff;
	padding: 20px;
}

#blog .contenedor-blog h4
{
	font-size: 23px;
	font-weight: 600;
	margin-bottom: 15px;
}

#blog p
{
	color: #5a6169;
	font-size: 16px;
	line-height: 24px;
}

#blog .remarketing
{
	height: 276px;
}

#cta
{
	/*background: linear-gradient(rgba(84,93,220,.9),rgba(96,171,245,.9));*/
	background: linear-gradient(darkcyan,teal);
	margin-top: 40px;
	padding: 50px 0;
	text-align: center;
}

#cta a
{
	background: forestgreen;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	margin: auto;
	letter-spacing: .8;
	margin-top: 12px;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	width: 157px;
}

#cta h3
{
	color: #fff;
	font-size: 23px;
}

#contact form
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	width: 77%;
}

textarea
{
	border: 0;
	border-bottom: 1px solid forestgreen;
	color: #212121;
	font-size: 17px;
	height: 20px;
	margin-bottom: 40px;
	padding: 18px 0;
	width: 100%;
}

input[type="text"], input[type="email"]
{
	border: 0;
	border-bottom: 1px solid forestgreen;
	color: #212121;
	margin-bottom: 15px;
	padding: 18px 0;
	width: 49%;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus
{
	border-bottom: 1px solid #0387d1;
	outline: 0;
}

button
{
	background: forestgreen;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 12px 12px 0 rgba(96,171, 245, .7);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	padding: 15px 0;
	margin: auto;
	width: 165px;
}

button:hover
{
	background: #59a7ec;
	transition: .4s;
}

.sucess
{
	background: #44be75;
	color: #fff;
	display: none;
	margin-bottom: 20px;
	padding: 15px 50px;
	position: fixed;
	right: 100px;
	top: 90%;
}

.contacto-info
{
	display: flex;
	justify-content: space-around;
	margin-top: 60px;
}

.contacto-info img
{
	margin-right: 10px;
	vertical-align: middle;
	width: 28px;
}

footer
{
	background: rgba(127, 127, 127, .8);
	margin-top: 10px;
	padding: 40px 0;
	text-align: center;
}

footer .contenedor
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer img
{
	margin: 0 40px;
	transform: rotate(0);
}

footer img:hover
{
	transform: rotate(360deg);
	transition: .4s;
}

footer p
{
	color: #000;
	margin-top: 40px;
}

footer a
{
	text-decoration: none;
}

#WhatsApp
{
	position: fixed;
	right: 2%;
	top: 80%;
	text-decoration: none;
}

/* Estilos para Smartphone y/o iPhone. */
@media screen and (max-width: 800px)
{
	.titulo h1
	{
		font-size: 32px;
	}

	.titulo img
	{
		width: 100%;
	}

	.titulo h2
	{
		font-size: 17px;
		margin-bottom: 40px;
	}

	#about .contenido
	{
		flex-direction: column;
	}

	#about img, .about-text
	{
		width: 100%;
	}

	#about .about-text
	{
		width: 100%;
	}

	.contenedor-servicios
	{
		flex-direction: column;
	}

	.contenedor-servicios .servicios
	{
		padding: 34px 30px 46px 30px;
		width: 82%;
	}

	#why h3, #hosting h3, #works h3, #services h3
	{
		font-size: 34px;
	}

	#why .contenedor-trabajar
	{
		flex-direction: column;
	}

	#why .item ul
	{
		padding: 0;
	}

	#why .item
	{
		width: 100%;
	}

	#wordpress h3
	{
		font-size: 30px;
	}

	#wordpress .contenedor-wp
	{
		flex-direction: column;
	}

	#wordpress img
	{
		width: 100%;
	}

	#wordpress .wp-texto
	{
		width: 92%;
	}

	#hosting p
	{
		width: 100%;
	}

	#hosting .contenedor-info
	{
		flex-direction: column;
	}

	#hosting .contenedor-info .info
	{
		width: 100%;
	}

	#blog .contenedor-blog
	{
		flex-direction: column;
	}

	#blog .contenedor-blog .blog-single
	{
		margin-bottom: 40px;
		width: 100%;
	}

	#contact .form
	{
		flex-direction: column;
		width: 100%;
	}

	input[type="text"], input[type="email"]
	{
		width: 100%;
	}

	.contacto-info
	{
		flex-direction: column;
		margin-bottom: 20px;
		text-align: center;
	}

	.sucess
	{
		right: 17%;
	}

	.mail
	{
		margin-bottom: 5px;
	}

	footer img
	{
		margin: 0 19px;
	}

	.menu-icon
	{
		display: block;
		float: right;
		margin-top: 17px;
		padding-bottom: 20px;
	}

	header nav
	{
		align-items: center;
		background: rgba(49, 51, 53, .9);
		display: none;
		height: 300px;
		left: 0;
		position: absolute;
		top: 83px;
		width: 100%;
	}

	header .logo
	{
		color: #fff;
	}

	header nav ul
	{
		flex-direction: column;
	}

	header nav ul li
	{
		font-size: 20px;
		margin-bottom: 15px;
		text-align: center;
	}

	header nav ul li a:active
	{
		font-weight: bold;
	    transition: 0.3s;
	}
}

/* Estilos para Tablet y/o iPad. */
@media screen and (min-width: 500px) and (max-width: 800px)
{
	header
	{
		height: 61vh;
		margin-top: -185px;
	}

	.contenedor-servicios .servicios
	{
		margin: auto;
		margin-bottom: 60px;
		width: 50%;
	}

	#blog .contenido .blog-single
	{
		margin: auto;
		margin-bottom: 50px;
		width: 60%;
	}
}

/* Estilos para Tablet y/o iPad Pro. */
@media screen and (max-width: 1024px)
{
	header
	{
		height: 55vh;
		margin-top: -245px;
	}

	.contenedor-servicios .servicios
	{
		margin: auto;
		margin-bottom: 60px;
		width: 34%;
	}

	.wp-texto
	{
		font-size: 12px;
	}
}